{% extends 'base.html.twig' %}

{% block title %}Edit Virtual{% endblock %}

{% block body %}
    <h1>Edit Virtual</h1>

    {{ include('virtual/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('virtual_index') }}">back to list</a>

    {{ include('virtual/_delete_form.html.twig') }}
{% endblock %}
