{% extends 'base.html.twig' %}

{% block title %}Le Complexe{% endblock %}

{% block body %}
<main onclick="closingNav()">
    <div id="projects" class=" mt-0 d-flex justify-content-center align-item-center bg-primary">
        <!-- Div border and responsive -->
        <div class="p-0 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 m-auto bg-primary">
        
       <!-- Carousel Projects picture -->
            <div>
                <div id="carouselCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators"> 
                        <li data-target="#carouselCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselCaptions" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner sdw" role="listbox">
                        <div class="carousel-item active">
                            <img href="" src="./img/logoTheComplexe.jpg" class="d-block w-100" alt="bet asset screenshot">
                                <div class="carousel-caption">
                                <!-- Button trigger modal -->
                                <a data-toggle="modal" data-target="#betassetModal">
                                    <h3 class="text-white">Restaurant</h3>
                                    <p class="text-white">Bar à bière</p>
                               </a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="./img/city.jpg" class="d-block w-100"
                                alt="this website screenshot">
                            <div class="carousel-caption"> 
                                <!-- Button trigger modal -->
                                 <a data-toggle="modal" data-target="#portfolioModal">
                                    <h3 class="text-white">Laser Game</h3> 
                                    <p class="text-white">En famille ou entre amis</p> 
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="./img/img1vr.jpg" class="d-block w-100" alt="symfony logo">
                            <div class="carousel-caption"> 
                                <!-- Button trigger modal -->
                                <a data-toggle="modal" data-target="#personalModal">
                                    <h3 class="text-white">Réalité Virtuelle</h3> 
                                   <p class="text-white">Vivez des nouvelles expériences</p> 
                                 </a>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div> 
            </div> 
        </div>

    </div>
    <!-- About -->
    <div class="project-bg bg-primary">
        <div class="pb-5 articles-about">
            <article id="about" class="container m-auto pb-1 pt-1 mt-2 mb-2">
                <h2 class="text-center pt-2 pb-2 mt-2 mb-2 text-light"> Le complexe !!</h2>
                <p class="text-center text-light">
                Dans un petit village tout près d'Aix en Provence, l'équipe du Complexe vous accueille dans un local de plus de 800 m² où vous pourrez vous divertir à travers différentes activités.


Pour les petits et les grands de nombreuses animations vous attendent tout au long de l'année. Vous pourrez découvrir, vivre de nouvelles expériences ou approfondir vôtre adresse dans de nouvelles tech.


                </p>
                <br>

                <h2 class="text-center pt-2 pb-2 mt-2 mb-2 text-light">Que proposons-nous ?</h2>
                <p class="text-center text-light">
                Notre équipe vous accueille du mardi au samedi pour vous divertir dans la joie et la bonne humeur.

Nous vous proposons de manger nos différents burgers, nos tapas afin de profiter de bons moments entre amis et nos desserts qui viendront clôturer ce bon repas.

Dans une ambiance Western, venez vous affronter dans une partie de Laser Game entre amis ou en famille.

Pour les anniversaires, pour des événements familiaux ou pour des entreprises qui souhaitent créer un lien entre ses collaborateurs grâce à nos casques, vous pourrez entrer dans un monde virtuel où il vous faudra résoudre des énigmes, faire des épreuves tout en restant dans une pièce et jouer également seul ou à plusieurs.


                </p>
                <br>
            </article>
        </div>
    </div>
</main>
{% endblock %}