{% extends 'realitevirtuelle/base.html.twig' %}

{% block title %}Réalité virtuelle{% endblock %}

{% block body %}
<main class="typo-vr">
    <div class="sdw bg-primary">
        <div class="header-vr d-flex align-items-center justify-content-center">
            <div class=" mx-auto w-100 bg-title-vr">
                <h1 class="text-white text-center p-3 vrtitle"> Réalité Virtuelle </h1>
                <p class="text-white text-center p-3 vrsubtitle h3 font-weight-light"> Vivre de nouvelles expériences </p>
            </div>
        </div>

        <div class="body-vr text bg-primary pb-5 container-fluid">
            <div class="bg-primary  pt-5 row">                                                                              
                <div class="card-vr text-white mb-3 col-9 mx-auto">
                    <div class="card-body col-12 ">
                        <article class="m-auto col-12 row"> 
                            <div class="col-sm-10 col-md-10 col-lg-6 col-xl-5 mx-auto my-auto">                         
                                <img src="/img/Virtual_Reality.jpg" alt="réalitévirtuelle" class=" img-fluid rounded border border-primary">
                            </div>
                            
                            <div class="col-sm-10 col-md-10 col-lg-6 col-xl-7 mx-auto">                            
                                <h4 class="card-title text-center pb-sm-1 pb-md-1 pt-sm-2 pt-md-2">Réalité Virtuelle</h4>
                                <hr>
                                <p class="card-text">Vous vivrez une expérience hors du commun dans un centre de réalité
                                    virtuelle. Découvrez une atmosphère unique, accueillante et chaleureuse !
                                    Situé à 10min d'Aix-en-Provence, Virtual Arena c’est un ensemble de 4 espaces VR. Vous pouvez venir
                                    seul ou en groupe, le temps de 30min ou d’une soirée. Choisissez entre l’une de nos 3 grandes
                                    formules: arcade, jeux de tirs, ou Escape Game. En fonction de la formule choisie, vous basculerez
                                    sur l’un de nos différents espaces de jeu.
                                </p>
                            </div>
                        </article>
                    </div>             
                </div>
                <div class="bg-primary  pt-5 row">                                                                              
                    <div class="card-vr text-white mb-3 col-9 mx-auto">
                        <div class="card-body col-12 ">
                            <article class="m-auto col-12 row"> 
                                <div class="col-sm-10 col-md-10 col-lg-6 col-xl-7 mx-auto">                            
                                    <h4 class="card-title text-center pb-sm-1 pb-md-1 pt-sm-2 pt-md-2">Notre salle VR</h4>
                                    <hr>
                                    <p class="card-text">Dans notre espace VR vous serez en totale immersion dans un monde virtuelle grâce a nos casque VR et notre espace adapté. Un espace de ...m² pensé pour accueillir un groupe de 4 personnes en simultanés. 
                                    </p>
                                </div>
                                 <div class="col-sm-10 col-md-10 col-lg-6 col-xl-5 mx-auto my-auto">                         
                                    <img src="/img/sallevr.jpg" alt="réalitévirtuelle" class=" img-fluid rounded border border-primary">
                                </div>
                            </article>
                        </div>             
                    </div>
            </div> 

             <div class="bg-primary text-right col-12 p-5">
                <a href="{{ path('allcategoryVR') }}" class="btn btn-outline titlecatvr text-white mr-5 rounded">NOS JEUX VR <i class="fas fa-arrow-right"></i></a>
            </div>            
        </div>
      
    </div>  <div class="text-white text-center mt-2 pt-3 pb-3 titlecatvr">
            <h2 class="text-white">Horaires de la Réalité virtuelle</h2>
            <hr>
            <p>Lundi -> Fermé</p>
            
            <p>Mardi -> Fermé</p>
            
            <p>Mercredi -> 14:00 / 22:00</p>
            
            <p>Jeudi -> 16:00 / 22:00</p>
            
            <p>Vendredi -> 16:00 / 22:00</p>
            
            <p>Samedi -> 14:00 / 22:00</p>
            
            <p>Dimanche -> 14:00 / 22:00</p>
        </div>
</main>
{% endblock %}