<footer class="bg-primary text-center text-white p-4 d-flex flex-row">
<div class="container">
    <div class="row col-12">
        <div id="contact" class="pt-1 pb-1 bg-primary col-6">
            {% include 'partials/contactForm.html.twig' %}
        </div>
        <div class="col-6">
            <h2 class="text-center text-light mb-2">Ou nous trouver</h2>
            <iframe class="border rounded shadow " src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2886.619465273774!2d5.576597915777465!3d43.656084960261616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12ca281e3f12e12f%3A0x138f62ed1f56f3fd!2s1%20Chemin%20des%20Trois%20Francs%2C%2013860%20Peyrolles-en-Provence!5e0!3m2!1sfr!2sfr!4v1584714342461!5m2!1sfr!2sfr" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            <p>Cliquez en dessous pour appeler le 07 11 22 33 44</p>
            <a href="tel:+33711223344" class="text-light"><button type="submit" name="submit" value="Appeler" class="btn btn-success">Appeler</button></a>
        </div>
    </div>


    <div class="p-2">
        <p>© Copyright 2020 Laetitia, Nagib, Eddy, Younes</p>
        <p> <a href="#"><i class="fas fa-arrow-up iconb text-white float-right"></i></a>
            {# <a href="https://github.com/Amar2050" target="_blank"><i class="fab fa-github p-3 iconb text-white"></i></a>
            <a href="https://www.linkedin.com/in/amar-boutayeb-920369177/" target="_blank"><iclass="fab fa-linkedin p-3 iconb text-white"></i></a> #}   
        </p>
    </div>
</div>
</footer>