{% extends 'lasergame/base.html.twig' %}

{% block title %}Laser Game{% endblock %}

{% block body %}
<main id="typo-laser">
    <div class="maindiv-laser sdw bg-primary">
        <div class="header-laser d-flex align-items-center justify-content-center">
            <div class=" mx-auto w-100 bg-title-laser text-center">
                <h1 class="text-white p-3 display-4">Laser Game Arena</h1>
                <h3 class="lasersubtitle text-danger"></h3>
                <p class="lasersubtitle h3 text-white p-3 font-weight-light">En famille ou entre amis</p>
            </div>
        </div>

        <div class="body-laser text bg-primary pb-5 container-fluid">
            <div class="bg-primary  pt-5 row">                                                                              
                <div class="card lasercard text-white mb-3 col-9 mx-auto">
                    <div class="card-body col-12 ">
                        <article class="m-auto col-12 row"> 
                            <div class="col-sm-10 col-md-10 col-lg-6 col-xl-5 mx-auto my-auto">                         
                                <img src="{{ asset('img/cityfarWest.jpg') }}" alt="lasergame" class=" img-fluid rounded border border-primary">
                            </div>
                            
                            <div class="col-sm-10 col-md-10 col-lg-6 col-xl-7 mx-auto">                            
                                <h4 class="card-title text-center pb-sm-1 pb-md-1 pt-sm-2 pt-md-2">Bienvenue au Laser Game Arena</h4>
                                <hr>
                                <p class="card-text">Qui sera notre nouveau Billy the Kid ou notre Camiliti Janes. Dans une ambiance western, entre le saloon et la banque joue entre amis ou en famille afin de savoir qui est celui qui vise le mieux ou se cache le mieux.
                                <br>
                                <br>
                                Vous qui êtes chef d'entreprise vous chercher le moyen de créer un lien entre vos salarier notre espace de jeux de plus de 300 m², vous permettra à tous de mieux vous apprécier et de mieux vous connaitre.
                                <br>
                                <br>
                                Quand a trouvé une après-midi pour vos chers petits tête brune nous vous proposons nos Happy Birthday, avec gâteaux, boisson et le plus important bonbon.
                                </p>
                            </div>
                        </article>
                    </div>             
                </div>
            </div> 

            <div class="bg-primary text-right col-12 p-5">
                <a href="{{ path('allcategorytarif') }}" class="btn text-white bibo2 mr-5 rounded">TARIFS <i class="fas fa-arrow-right"></i></a>
            </div>            
        </div>

        <div class="text-white text-center mt-2 pt-3 pb-3 bibo2">
            <h2 class="text-white">Horaires du Laser Game Arena</h2>
            <hr>
            <p>Lundi -> Fermé</p>
            
            <p>Mardi -> Fermé</p>
            
            <p>Mercredi -> 14:00 / 22:00</p>
            
            <p>Jeudi -> 16:00 / 22:00</p>
            
            <p>Vendredi -> 16:00 / 22:00</p>
            
            <p>Samedi -> 14:00 / 22:00</p>
            
            <p>Dimanche -> 14:00 / 22:00</p>
        </div>
    </div>
</main>
{% endblock %}