html {
  scroll-behavior: smooth;
}

/* Photo by Fotis Fotopoulos on Unsplash */
/* header {
    background-image:url("../img/logoTheComplexe.jpg");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	height:60vh;
} */

.project-bg {
    /* Photo by Ron Whitaker on Unsplash */
	background-image: url("../img/fondsombre.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	/* height:80vh; */
	margin: auto;
}

#about {
	background: rgba(0, 0, 0, 0.5) ;
}
strong{
	font-weight: normal;
}
.iconb{
	font-size: 2em;
}

.listBW:hover{
	color:white;
	background: #1a1a1a;
}
.grow { 
	transition: all .5s ease-in-out;
}
.grow:hover{ 
	transform: scale(0.95);
	border-radius: 20%;
	border: solid 2px #4BBF73;
}
.error-message{
	margin-top: -4em ! important;
	margin-bottom: 4em !important;
}

.correctionMargin {
	margin-left: -1em;
}

.vrpage{
	font-family: 'Aldrich', sans-serif;
}
.vrpage article{
	/* background-color:rgba(206, 212, 218, 0.2); */
	border-radius: 5px;
}
.vrpage p{
	font-size: 1.1em;
}

.vrpage .parent {
	display: flex; /* contexte sur le parent */
  }
 .vrpage .enfant {
	margin: auto; /* eh oui, tout bêtement */
  }