html {
  scroll-behavior: smooth;
}

/* Photo by Fotis Fotopoulos on Unsplash */
/* header {
    background-image:url("../img/logoTheComplexe.jpg");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	height:60vh;
} */

.project-bg {
    /* Photo by Ron Whitaker on Unsplash */
	/* background-image: url("../img/fondsombre.jpg"); */
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	/* height:180vh; */
	margin: auto;
	padding-top:70px;
}

#about {
	background: rgba(0, 0, 0, 0.5) ;
}
strong{
	font-weight: normal;
}
.iconb{
	font-size: 2em;
}

.listBW:hover{
	color:white;
	background: #1a1a1a;
}
.grow { 
	transition: all .5s ease-in-out;
}
.grow:hover{ 
	transform: scale(0.95);
	border-radius: 20%;
	border: solid 2px #4BBF73;
}
.error-message{
	margin-top: -4em ! important;
	margin-bottom: 4em !important;
}

.correctionMargin {
	margin-left: -1em;
}


/* ////////////// */
/* CSS RESTAURANT */
/* ////////////// */
  
#typo-resto {
	font-family: 'Roboto Condensed', sans-serif;
  }
.maindiv-resto{
	margin-top: 68px;
}

.header-resto{
	background-image: url("../img/restohead.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height:60vh;
	margin: auto;
}
.sdw{
	text-shadow: 2px 2px 3px black; 
}
.restocard, .bibo{
	background: rgba(255, 183, 0, 0.5);
}

.bg-title-resto{
	display: block;
	width: 100%;
	background: rgba(0, 0, 0, 0.5) ;
	text-shadow: 5px 5px 6px black; 
}
.footer-resto{
	background-image: url("../img/restohead.jpg");
	/* background: rgba(0, 0, 0, 0.7) ; */
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	margin: auto;
}
.footer-filtre-resto{
	display: block;
	width: 100%;
	background: rgba(0, 0, 0, 0.7) ;
	text-shadow: 5px 5px 6px black;
	padding: 30px !important; 
	margin: 0 !important; 
}
.arrow-filtre-resto{
	width: 100%;
	background: rgba(0, 0, 0, 0.7) ;
}

/* ////////////// */
/* CSS LASERGAME */
/* ////////////// */
  
#typo-laser {
	font-family: 'Roboto Condensed', sans-serif;
  }
.maindiv-laser{
	margin-top: 68px;
}

.lasertitle{
	font-size: 100px;
}

.lasersubtitle{
	font-size: 30px;
}

.header-laser{
	background-image: url("../img/laser4.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height:60vh;
	margin: auto;
}

.sdw{
	text-shadow: 2px 2px 3px black; 
}
.lasercard, .bibo2{
	background: rgba(0, 136, 73, 0.5);
}
.bibo3{
	background: rgba(0, 136, 73, 0.7);
}

.bg-title-laser{
	display: block;
	width: 100%;
	background: rgba(0, 0, 0, 0.5) ;
	text-shadow: 5px 5px 6px black; 
}
.footer-laser{
	background-image: url("../img/laser4.jpg");
	/* background: rgba(0, 0, 0, 0.7) ; */
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	margin: auto;
}
.footer-filtre-laser{
	display: block;
	width: 100%;
	background: rgba(0, 0, 0, 0.7) ;
	text-shadow: 5px 5px 6px black;
	padding: 30px !important; 
	margin: 0 !important; 
}
.arrow-filtre-laser{
	width: 100%;
	background: rgba(0, 0, 0, 0.7) ;
}

.catlaser {
	background-image: url("../img/entree.jpg");
	background-position: center;
	background-size: cover;
	margin: auto;
	height: 350px;
	border: solid rgba(0, 136, 73, 0.7) 2px;
}


/* //////////////////// */
/* CSS REALITEVIRTUELLE */
/* //////////////////// */
/* CSS REALITE VIRTUELLE */

#typo-vr{
	font-family: 'Aldrich', sans-serif;
}
.header-vr{
	background-image: url("../img/headervr.jpg");
	opacity: 0.8;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height:60vh;
	margin: auto;
}
.vrpage{
	font-family: 'Aldrich', sans-serif;
}
.vrtitle{
	font-size: 80px;
}
.vrsubtitle{
	font-size: 30px;
}

.bg-title-vr{
	display: block;
	width: 100%;
	background: rgba(0, 0, 0, 0.5) ;
	text-shadow: 5px 5px 6px black; 
}

.card-vr{
	background-color: rgba(37, 52, 163, 0.5);
	border-radius: 5px;
}

.vrpage article{
	border-radius: 5px;
}

.vrpage p{
	font-size: 1.1em;
}

.vrpage .parent {
	display: flex; /* contexte sur le parent */
}

 .vrpage .enfant {
	margin: auto;
  }

  .footer-vr{
	background-image: url("../img/headervr.jpg");
	/* background: rgba(0, 0, 0, 0.7) ; */
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	margin: auto;
}
.footer-filtre-vr{
	display: block;
	width: 100%;
	background: rgba(0, 0, 0, 0.7) ;
	text-shadow: 5px 5px 6px black;
	padding: 30px !important; 
	margin: 0 !important; 
}

