{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h1>Votre email</h1>
        <p>{{contact.name}}</p>
        <p>{{contact.email}}</p>
        <p>{{contact.subject}}</p>
        <p>{{contact.message}}</p>
    </div>
{% endblock %}
