{% extends 'base.html.twig' %}

{% block title %}Restaurant{% endblock %}

{% block body %}
<main>
    <div>
        <div class="">
            <h2 class="text-center pt-2 pb-2 mt-2 mb-2 text-light">Restaurant</h2>
            <img src="{{ asset('img/sallerestaurant.jpg') }}" alt="restaurant" class="img-fluid mx-auto mt-3">
            <article class="container m-auto pb-1 pt-1 mt-2 mb-2 w-25">

                <p class="left text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <br>
            </article>
        </div>      
            <div>
                <button type="submit" name="submit" value="Valider" class="btn btn-info"> Nos menus ici </Button>
            </div> 
    </div>

</main>
{% endblock %}