{% extends 'base.html.twig' %}

{% block title %} Les menus du restaurant- Le Complexe{% endblock %}

{% block body %}
<main>
    <div class="mt-5">
        <h3 class="text-primary text-center">Choisis ton repas</h3>
        <div class="card mb-3 text-center py-3 articles-about row">
            {% for category in categories %}
            <div class="card-header col-3 mx-auto">
            <a href="{{ url('categoryMenu',{id:category.id}) }}" class="text-primary">{{ category.nom }}</a>
            <div class="card-body">
            <img  src="{{ asset(category.image) }}" alt="{{category.nom }}" width="150">
           </div>
           </div>
            {% endfor %}
        </div>   
    </div>
    
</main>
{% endblock %}