{% extends 'base.html.twig' %}

{% block title %}Hello ComplexeController!{% endblock %}

{% block body %}


<div>
<h1>{{ page.title }}</h1>
<p>{{ page.content }}</p>
<img src="{{ asset('images/page/'~ page.imageName )  }}" alt="{{ page.title }}" class="w-50">
</div>
{% endblock %}
