{% extends 'category_tarif/base.html.twig' %}

{% block title %}Edit Tarif{% endblock %}

{% block body %}
    <div class="pt-2 mt-2">
        <h2 class="pt-5 mt-5 text-center ">Editer un tarif</h2>
    </div>
<div class="pl-5">
    {{ include('tarif/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('tarif/_delete_form.html.twig') }}
</div>
<hr>
<div class="p-3">
    <a href="{{ path('tarif_index') }}" class="btn btn-primary text-white">Retour</a>
</div>
    
{% endblock %}
